.bookmarkSidebar {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0;
    display: block;
    overflow-y: auto;
    transition: opacity 0.3s, ease 0.2s;
    -moz-box-shadow: -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow: -3px 0 5px 0 #555;
    width: 300px;
    height: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0);
}

.background {
    display: block;
    opacity: 0;
    z-index: 2147483646;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}