.bookmark {
    display: block;
    z-index: 2147483647;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: ease 0.2s;
}

.open {
    left: 0px;
}
