.checkbox {
    display: flex;
    align-items: stretch;
    cursor: pointer;
    font-size: inherit;
    user-select: none;
}

.checkbox span {
    margin-left: 3px;
}

.checkbox input {
    display: none;
}
