.bookmarkIndicator {
    all: revert;

    position: fixed;
    z-index: 2147483646;
    top: 0;
    left: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, ease 0.2s;
    width: 25px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.bookmarkIndicator:hover {
    opacity: 1;
    transform: translateX(24px);
}
